asgiref==3.3.1
boto3 @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/eb/f6/7c/4f96679d60c1025633ec614e0d5b02813618f2c88ebcdadd70ffb932f1/boto3-1.17.27-py2.py3-none-any.whl
botocore @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/e5/a1/f8/68adf3742a42989e3adbbb0db1d7ebedccfcb557f00d67e4be1f1728f1/botocore-1.20.27-py2.py3-none-any.whl
certifi @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/a5/b1/71/0fb759c6550e4dc0a538f0fc47cdf7dcd23bae70385241ee92b4d5b87c/certifi-2020.12.5-py2.py3-none-any.whl
chardet @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/47/b7/82/19c2b887f87f3adbaf4e34c55189388e5132c78f6929d7001a78b0209b/chardet-4.0.0-py2.py3-none-any.whl
dj-inmemorystorage @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/63/a8/a5/59020ea62d31407d7f69a1894f4d8ec6fedd95e3f836e663403d415618/dj_inmemorystorage-2.1.0-py2.py3-none-any.whl
Django==3.1.7
django-cors-headers @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/01/7b/4d/b8f495aa06901f6dfc2a77b25ab12073455d4b465e92ab904b3ff432d6/django_cors_headers-3.7.0-py3-none-any.whl
django-environ @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/02/f5/07/088c90fb343e0afae07fa494be4114b30189c29231a92d744f3234fb0f/django_environ-0.4.5-py2.py3-none-any.whl
django-markdownx @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/3d/1e/cc/72905bd704a6b569b740917c1839cfae33b68b07d443d1cf7257c29ae7/django_markdownx-3.0.1-py2.py3-none-any.whl
django-storages @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/a2/30/52/ed1bcbcbcfbf0d802a8c284db4729496985667767041a4a13d5bf12ce6/django_storages-1.11.1-py3-none-any.whl
django-webpack-loader @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/4b/d2/b0/13a8fe36099beb951fe27a419e5b01b57b1b113d8cf5c8c5c499f9e089/django_webpack_loader-0.7.0-py2.py3-none-any.whl
djangorestframework @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/e3/08/1d/2834edd42b18b05e8ca8969c859a4374478872dfff9da3c1c4c2e0aeba/djangorestframework-3.12.2-py3-none-any.whl
djangorestframework-simplejwt @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/e0/2a/04/01b4874fdc1061fd2a4729850052354f8b9d9457bcd5f4768cb20a5b09/djangorestframework_simplejwt-4.6.0-py3-none-any.whl
gunicorn @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/b5/fa/14/5790a1a5da3a5144bc505c39d8003baa6f64040928b75d0e0779683287/gunicorn-20.0.4-py2.py3-none-any.whl
idna @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/9e/f9/03/6066b92d35486e7f0d4f310126e3c60a6619726e43ef98e32e105b5c52/idna-2.10-py2.py3-none-any.whl
jmespath @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/43/d5/a2/f83573231324de7f5b61f5c607fbbe82ca535359a452de4852d2e25e8d/jmespath-0.10.0-py2.py3-none-any.whl
Markdown @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/cd/62/99/4d239f584e3af1e07356c03b28df2aa3a2701d1f49a1f1cc7a935814f8/Markdown-3.3.4-py3-none-any.whl
model-bakery @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/5e/8b/a1/d32354c2ff37a0b7935561f7af4a1f185b1d5031a0f2231524fbce79b9/model_bakery-1.2.1-py2.py3-none-any.whl
munch @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/8a/51/90/b6d8e8acd78aee2f686f94d1d64b52cc649a194f0b71c3e083bc2c4abf/munch-2.5.0-py2.py3-none-any.whl
Pillow @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/d4/5f/cd/0f5abedea34b9324409e909972f502fca1e0e12023b175f38eab8881a8/Pillow-8.1.2-cp38-cp38-macosx_10_10_x86_64.whl
psycopg2-binary @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/d4/63/49/ec92d6a27456aca4a42a51b17ee5e38978993d1632525c7668db0e4b64/psycopg2_binary-2.8.6-cp38-cp38-macosx_10_9_x86_64.macosx_10_9_intel.macosx_10_10_intel.macosx_10_10_x86_64.whl
Pygments @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/5c/f1/32/290ecc98cb0128481ae2a7fcc324222b493bcd6696fb26405c70eda87c/Pygments-2.8.1-py3-none-any.whl
PyJWT @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/81/94/52/aa44c4c334cad86ba816f68df847f6cabf94aa9152147719ce0c19fb66/PyJWT-2.0.1-py3-none-any.whl
python-dateutil @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/1e/2c/dc/0e811c2299b40168ee1da03bc13c11762ce9fa96eb867ad22280db11fc/python_dateutil-2.8.1-py2.py3-none-any.whl
python-decouple @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/1b/e5/27/523307167b91dbfc6bee9de12a9f893dff4c81fa3aebee42bd64bc9542/python_decouple-3.4-py3-none-any.whl
pytz==2021.1
requests @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/fe/f0/74/d691c7619cd645682c495ff78949b9c284e88d3f2ee85124df5cec5b0a/requests-2.25.1-py2.py3-none-any.whl
s3transfer @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/cf/63/c5/7580e86fcf1fa802988931d06bc716be085bbc9517773c51d9b73de2fa/s3transfer-0.3.4-py2.py3-none-any.whl
sentry-sdk @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/b4/db/95/513ebad7b1f523cedf2edff8a01697b976ae7b6dea8496401fad6566f2/sentry_sdk-1.0.0-py2.py3-none-any.whl
six @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/be/98/c7/69fe6fea7a59659af1c6260899226129565330b1e07c9c5b3769be76bf/six-1.15.0-py2.py3-none-any.whl
sqlparse==0.4.1
supervisor @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/cf/18/f8/dde06d64abb9ca03995712b4b5017aae113f4cd70a117af1fbfa1b4f9d/supervisor-4.2.2-py2.py3-none-any.whl
urllib3 @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/a9/fc/7b/ab7ab6ea0d0cbf7347c6de7a3ab67af2f715357ebb539bdf464671b640/urllib3-1.26.3-py2.py3-none-any.whl
whitenoise @ file:///Users/seonwoong-hwang/Library/Caches/pypoetry/artifacts/85/9d/ae/96bb78abce27b6862969fd9e72817c63580afa169b43960b46f8819c6e/whitenoise-5.2.0-py2.py3-none-any.whl
